body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.chat-container {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    background-color: #f1f1f1;
    height: 400px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.chat-messages {
    display: flex;
    flex-direction: column;
}

.user-message, .bot-message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
}

.user-message {
    align-self: flex-end;
    background-color: #072441;
    color: #fff;
}

.bot-message {
    align-self: flex-start;
    background-color: #007bff;
    color: #fff;
}

.bot-message p {
    margin: 0;
}

.bot-message small {
    display: block;
    margin-top: 5px;
    font-size: 0.8em;
    color: #ffffff;
}

.positive {
    color: rgb(53, 238, 53);
    font-weight: bold;
}

.negative {
    color: red;
    font-weight: bold;
}

.neutral {
    color: rgba(255, 193, 49, 0.99);
    font-weight: bold;
}
